@import "mixin";
@import "var";
@import "inheritance";
@import "function";

// SCSS - Topics
// 1: operators
// 2: variables
// 3: nesting
// 4: mixin
// 5: parameters
// 6: partials

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.main-header {
  width: 100vw;
  height: 100vh;
  @include flexProperties;
  background-color: $bg-color;

  h1 {
    padding: calculate-spacing(2);
    @extend %message-shared;
    background-color: #dff0d8;
    @include commonCode(1.5rem, uppercase); // this way is better
    //   letter-spacing: 1.5rem; not recommended

    &:hover {
      color: grey;
    }
    &::after {
      content: " SCSS";
    }
  }

  p {
    padding: calculate-spacing(3);
    @extend %message-shared;
    background-color: #f2dede;
    @include commonCode(0.2rem, capitalize);
    &:hover {
      color: #fff;
    }
    &::before {
      content: "Greet! ";
    }
  }
}


// @for $i from 1 through 3 {
//   .col-#{$i} {
//     width: 100% / $i;
//   }
// }
